﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">
   
    <div class="card-body">

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Datos principales">

                <div class="form-horizontal">

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.apellido">
                                <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.nombre">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">DNI</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.dni">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Fecha de nac</label>
                            <div class="col-sm-10">
                                <div class="ui-datepicker dp-head-success dp-table-success shadow-clear">
                                    <div class="input-group">
                                        <input type="text" uib-datepicker-popup="dd/MM/yyyy" ng-model="paciente.fechaDeNacimiento" is-open="popup1.opened" datepicker-options ng-required="true" close-text="Close" class="form-control" /><span class="input-group-btn">
                                            <button type="button" ng-click="popup1.opened=true" class="btn btn-default"><em class="ion-calendar"></em></button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nro ficha</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.nroFicha">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ObraSocial</label>
                            <div class="col-sm-10">
                                <select name="account"
                                        ng-model="paciente.idObraSocial"
                                        ng-change="onObraSocialChange()"
                                        ng-options="item._id as item.nombre for item in obrasSociales"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Plan</label>
                            <div class="col-sm-10">
                                <select name="account"
                                        ng-model="paciente.idPlanObraSocial"
                                        ng-options="item._id as item.nombre for item in planesDisponibles"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nro Afiliado</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.nroAfiliado">
                            </div>
                        </div>
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Estado</label>
                            <div class="col-sm-10">
                                <select name="account"
                                        ng-model="paciente.estado"
                                        ng-options="item.descripcion for item in estados track by item.id"
                                        class="form-control"></select>
                            </div>
                        </div>
                    </fieldset>

                </div>

            </uib-tab>
            <uib-tab index="1" heading="Datos de contacto">
                <div class="form-horizontal">

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">País</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.pais">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Provincia</label>
                            <div class="col-sm-10">
                                <select name="account"
                                        ng-model="paciente.provincia"
                                        ng-options="item.textoValor for item in provincias track by item.idValor"
                                        class="form-control"></select>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Ciudad</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.ciudad">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Dirección</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.domicilio">
                            </div>
                        </div>
                        <br />
                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="email">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Celular</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="paciente.celular">
                            </div>
                        </div>
                    </fieldset>
                </div>
                    

            </uib-tab>
        </uib-tabset>

            
</div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>