﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">

    <div class="card-body">
        <div class="form-horizontal">

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Título</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="modelo.titulo">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descripción</label>
                    <div class="col-sm-10">
                        <textarea class="form-control" ng-model="modelo.descripcion"></textarea>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="profesional.esPrimeraCita"><span class="ion-checkmark-round"></span> Realizado
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <fieldset>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Desde</label>
                            <div class="col-sm-10">
                                <date-time-picker ng-model="modelo.fechaDesde" ng-change="onDesdeChange"></date-time-picker>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hasta</label>
                            <div class="col-sm-10">
                                <date-time-picker ng-model="modelo.fechaHasta" ng-change="onHastaChange"></date-time-picker>
                            </div>
                        </div>
                    </div>
                </div>

                <br />

            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Color</label>
                    <div class="col-sm-10">
                        <button colorpicker=""
                                type="button"
                                colorpicker-position="top"
                                colorpicker-parent="true"
                                ng-model="modelo.color"
                                style="background-color:{{modelo.color}}"
                                class="btn btn-info">
                            Cambiar color
                        </button>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-show="idEvento != null" ng-click="onEliminar()">Eliminar</button>
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar</button>
    <button class="btn btn-warning" type="button" ng-click="onCancelar()">Cerrar</button>
</div>