﻿<ui-select ng-model="dirModel.profesionalesSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione profesionales" allow-clear="{{allowClear}}">
        {{$select.selected.nombreCompleto}}
    </ui-select-match>
    <ui-select-choices repeat="profesional in optionItems | propsFilter: {nombreCompleto: $select.search}">
        <div ng-bind-html="profesional.nombreCompleto | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>

<ui-select ng-model="dirModel.profesionalesSelected"
           theme="bootstrap"
           multiple
           ng-if="multiple=='true'">
    <ui-select-match placeholder="Seleccione profesionales" allow-clear="{{allowClear}}">
        {{$item.nombreCompleto}}
    </ui-select-match>
    <ui-select-choices repeat="profesional in optionItems | propsFilter: {nombreCompleto: $select.search}">
        <div ng-bind-html="profesional.nombreCompleto | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>