﻿<ui-select ng-model="dirModel.especialidadSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione especialidad" allow-clear="{{allowClear}}">
        {{$select.selected.textoValor}}
    </ui-select-match>
    <ui-select-choices repeat="especialidad in optionItems | propsFilter: {idValor: $select.search, textoValor: $select.search}">
            <span ng-bind-html="''+especialidad.textoValor | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<ui-select multiple
           ng-model="dirModel.especialidadSelected"
           ng-if="multiple=='true'"
           theme="bootstrap">
    <ui-select-match placeholder="Seleccione especialidades" allow-clear="{{allowClear}}">
        {{$item.textoValor}}
    </ui-select-match>
    <ui-select-choices repeat="especialidad in optionItems | propsFilter: {idValor: $select.search}">
            <span ng-bind-html="''+especialidad.textoValor | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>