﻿
<h4 tabindex="-1" class="title">
    Seleccionar Hora y Fecha:
</h4>
<fieldset role="tabpanel" class="body">
    
    <div class="table-responsive" style="    max-height: 350px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Consultorio</th>
                    <th>Profesional</th>
                </tr>
            </thead>
            <tbody ng-repeat="item in disponibilidades">
                <tr>
                    <td>
                        <button type="button" class="btn btn-flat btn-primary ripple" ng-click="item.mostrarHorarios = !item.mostrarHorarios "><em class="{{item.mostrarHorarios? 'ion-ios-arrow-down':'ion-ios-arrow-right'}}"></em><span class="md-ripple"></span></button>
                    </td>
                    <td>{{item.fechaDesde | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.fechaDesde | date:'EEE'}}</td>
                    <td>{{item.horario}} hs</td>
                    <td>{{item.nombreConsultorio}}</td>
                    <td>{{item.nombreProfesional}}</td>
                </tr>
                <tr ng-if="item.mostrarHorarios">
                    <td colspan="6">

                        <div class="mda-list mda-list-bordered">

                            <div class="mda-list-item col-sm-3" ng-repeat="horario in item.turnosDisponibles">
                                <div class="mda-list-item-initial {{obtenerClaseSegunHorario(horario)}}">{{horario.incialParteDelDia}}</div>
                                <div class="mda-list-item-text mda-2-line">
                                    <button type="button"
                                            ng-click="seleccionarDisponibilidad(horario, item)"
                                            class="btn btn-raised btn-success ripple "
                                            ng-class="horario.selectedClass"
                                            style="margin-left: -15px;">
                                        <em class="ion-ios-arrow-right"></em>
                                        {{horario.horario}} hs.
                                    </button>
                                </div>
                            </div>


                        </div>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>

</fieldset>