﻿<ui-select ng-model="dirModel.tipoDeTurnoSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione tipo" allow-clear="{{allowClear}}">
        {{$select.selected.descripcion}}
    </ui-select-match>
    <ui-select-choices repeat="tipo in optionItems | propsFilter: {id: $select.search, descripcion: $select.search}">
            <span ng-bind-html="''+tipo.descripcion | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>

<ui-select multiple
           ng-model="dirModel.tipoDeTurnoSelected"
           ng-if="multiple=='true'"
           theme="bootstrap">
    <ui-select-match placeholder="Seleccione tipos" allow-clear="{{allowClear}}">
        {{$item.descripcion}}
    </ui-select-match>
    <ui-select-choices repeat="tipo in optionItems | propsFilter: {id: $select.search}">
            <span ng-bind-html="''+tipo.descripcion | highlight: $select.search"></span>
    </ui-select-choices>
</ui-select>