﻿
<h4 tabindex="-1" class="title">
    Seleccionar profesional y días:
</h4>
<fieldset role="tabpanel" class="body">

    <div class="row form-horizontal">
        <fieldset>
            <div class="form-group" style="margin-left: 10px;">
                <div class="col-sm-6">
                    Profesional
                    <select-profesionales dir-model="profesional" allow-clear="true" multiple="true"></select-profesionales>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="col-sm-6">
                <div class="form-group" style="margin-left: 10px;">

                    <div class="col-sm-3">
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaLunes"><span class="ion-checkmark-round"></span> Lun
                            </label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaMartes"><span class="ion-checkmark-round"></span> Mar
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaMiercoles"><span class="ion-checkmark-round"></span> Mie
                            </label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaJueves"><span class="ion-checkmark-round"></span> Jue
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaViernes"><span class="ion-checkmark-round"></span> Vie
                            </label>
                        </div>
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaSabado"><span class="ion-checkmark-round"></span> Sab
                            </label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="checkbox c-checkbox">
                            <label ng-click="filtrarDisponibilidadPorDia()">
                                <input type="checkbox" value="" ng-model="modelo.diaDomingo"><span class="ion-checkmark-round"></span> Dom
                            </label>
                        </div>
                    </div>
                </div>

            </div>

        </fieldset>

        <fieldset>
            <div class="form-group" style="margin-left: 10px;">
                <div class="col-sm-6">
                    <date-range hoy="true" ng-model="modelo.periodo"></date-range>
                </div>
            </div>
        </fieldset>

    </div>
</fieldset>
