﻿
<h4 tabindex="-1" class="title current">
    Seleccionar Paciente, Especialidad, Consultorio:
</h4>
<fieldset id="" role="tabpanel" class="body current">

    <div class="row form-horizontal">
        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">Paciente</label>
                <div class="col-sm-9">
                    <select-paciente dir-model="paciente"></select-paciente>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">Especialidad</label>
                <div class="col-sm-9">
                    <select-especialidad dir-model="especialidad"></select-especialidad>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">Consultorio</label>
                <div class="col-sm-9">
                    <select-consultorios dir-model="consultorio"></select-consultorios>
                </div>
            </div>
        </fieldset>

        <fieldset>
            <div class="form-group">
                <label class="col-sm-3 control-label">Tipo</label>
                <div class="col-sm-9">
                    <select-tipo-de-turno dir-model="tipo"></select-tipo-de-turno>
                </div>
            </div>
        </fieldset>

    </div>
</fieldset>

