﻿<ui-select ng-model="selected.paciente" 
           theme="bootstrap" 
           ng-change="onPacienteSelected(selected.paciente)"
           >
    
    <ui-select-match placeholder="Ingrese DNI o apellido del paciente...">
        {{$select.selected.nombreCompleto}} - DNI {{$select.selected.dni}}
    </ui-select-match>
    
    <ui-select-choices repeat="paciente in pacientes | filter: $select.search track by $index" 
                       refresh="refreshPacientes($select.search)" 
                       refresh-delay="3">
        
        <div ng-bind-html="paciente.nombreCompleto | highlight: $select.search"></div>
        <small>
            DNI: <span ng-bind-html="''+paciente.dni | highlight: $select.search"></span>
        </small>. 
        <small>
            Fecha de nacimiento: <span ng-bind-html="''+ paciente.fechaDeNacimiento | date:'dd/MM/yyyy' | highlight: $select.search"></span>
        </small>. 
        <small>
            Nro de ficha: <span ng-bind-html="''+ paciente.nroFicha | highlight: $select.search"></span>
        </small>. 

    </ui-select-choices>

</ui-select>