﻿<ui-select ng-model="dirModel.consultoriosSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione consultorio" allow-clear="{{allowClear}}">
        {{$select.selected.nombre + ' - '+ $select.selected.direccion}}
    </ui-select-match>
    <ui-select-choices repeat="consultorio in optionItems | propsFilter: {nombre: $select.search, direccion: $select.search}">
        <div ng-bind-html="consultorio.nombre | highlight: $select.search"></div>
        <small>
            Dirección: <span ng-bind-html="''+consultorio.direccion | highlight: $select.search"></span>
        </small>
    </ui-select-choices>
</ui-select>

<ui-select multiple
           ng-model="dirModel.consultoriosSelected"
           ng-if="multiple=='true'"
           theme="bootstrap">
    <ui-select-match placeholder="Seleccione consultorios" allow-clear="{{allowClear}}">
        {{$item.nombre}}
    </ui-select-match>
    <ui-select-choices repeat="consultorio in optionItems | propsFilter: {nombre: $select.search}">
        <div ng-bind-html="consultorio.nombre | highlight: $select.search"></div>
        <small>
            Dirección: <span ng-bind-html="''+consultorio.direccion | highlight: $select.search"></span>
        </small>
    </ui-select-choices>
</ui-select>