﻿
<h4 tabindex="-1" class="title">
    Confirmar Turno:
</h4>
<fieldset role="tabpanel" class="body">

    <div class="col-sm-6">
        <div class="mda-list mda-list-bordered">
            <div class="mda-list-item">
                <img src="app/img/user/04.jpg" alt="List user" class="mda-list-item-img">
                <div class="mda-list-item-text mda-2-line" style="margin-top: -20px;">
                    <h4>Paciente:</h4>
                    <h3 style="margin-top: 15px;">{{paciente.nombre}}{{paciente.apellido}}</h3>
                    <h4>DNI: {{paciente.dni}}</h4>
                </div>
            </div>

            <div class="mda-list-item">
                <div class="mda-list-item-initial bg-pink-500">E</div>
                <div class="mda-list-item-text mda-2-line" style="margin-top: -10px;">
                    <h4>Especialidad:</h4>
                    <h3 style="margin-top: 15px;">{{especialidad.descripcion}}</h3>
                </div>
            </div>

            <div class="mda-list-item">
                <div class="mda-list-item-icon btn-warning"><em class="ion-location icon-lg"></em></div>
                <div class="mda-list-item-text mda-2-line" style="margin-top: -20px;">
                    <h4>Consultorio:</h4>
                    <h3 style="margin-top: 15px;">{{consultorio.nombre}}</h3>
                    <h4>{{consultorio.direccion}}</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="mda-list mda-list-bordered">
            <div class="mda-list-item">
                <div class="mda-list-item-initial bg-green-500">T</div>
                <div class="mda-list-item-text mda-2-line" style="margin-top: -10px;">
                    <h4>Tipo de Turno:</h4>
                    <h3 style="margin-top: 15px;">{{tipo.descripcion}}</h3>
                </div>
            </div>

            <div class="mda-list-item">
                <img src="app/img/user/01.jpg" alt="List user" class="mda-list-item-img">
                <div class="mda-list-item-text">
                    <h4>Profesional</h4>
                    <h3>{{profesional.prefijoProfesional}}. &nbsp; {{profesional.apellido}}, &nbsp; {{profesional.nombre}}</h3>
                </div>
            </div>

            <div class="mda-list-item">
                <div class="mda-list-item-icon bg-info"><em class="ion-android-calendar icon-lg"></em></div>
                <div class="mda-list-item-text mda-2-line" style="margin-top: 10px;">
                    <h3>
                        {{horario.incialParteDelDia}}. &nbsp; {{horario.fechaHoraDesde | date:'dd/MM/yyyy HH:mm'}}
                    </h3>
                </div>
            </div>
        </div>
    </div>

</fieldset>