﻿<ui-select ng-model="dirModel.estadosTurnosSelected"
           theme="bootstrap"
           ng-if="multiple!='true'">
    <ui-select-match placeholder="Seleccione estados de turno" allow-clear="{{allowClear}}">
        {{$select.selected.descripcion}}
    </ui-select-match>
    <ui-select-choices repeat="estado in optionItems | propsFilter: {descripcion: $select.search}">
        <div ng-bind-html="estado.descripcion | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>


<ui-select ng-model="dirModel.estadosTurnosSelected"
           multiple
           theme="bootstrap"
           ng-if="multiple=='true'">
    <ui-select-match placeholder="Seleccione estados de turno" allow-clear="{{allowClear}}">
        {{$item.descripcion}}
    </ui-select-match>
    <ui-select-choices repeat="estado in optionItems | propsFilter: {descripcion: $select.search}">
        <div ng-bind-html="estado.descripcion | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>