
<nav ng-controller="HeaderController as header">
  <ul>
    <li ng-class="{'active': sidebarVisible}" class="visible-xs visible-sm hidden-md"><a href="" ng-click="toggleSidebar()" ng-class="app.header.menulink" class="menu-link"><span><em></em></span></a></li>
    <li ng-class="{'active': sidebarOffcanvasVisible}" ng-if="app.sidebar.offcanvas" class="hidden-xs hidden-sm"><a href="" ng-click="toggleSidebarOffcanvasVisible()" ng-class="app.header.menulink" class="menu-link"><span><em></em></span></a></li>
  </ul>
  <h2 ng-bind="$state.$current.title" class="header-title"></h2>
  <ul class="pull-right">
    <li ng-show="false"><a href="" ng-click="header.openModalSearch()" class="ripple"><em class="ion-ios-search-strong"></em></a></li>
    <li uib-dropdown="" class="dropdown"><a href="" uib-dropdown-toggle="" class="dropdown-toggle has-badge ripple">
        <em class="ion-person"></em>
        <!--<sup class="badge bg-danger">3</sup>-->
        </a>
      <ul dropdown-menu="" class="dropdown-menu dropdown-menu-right md-dropdown-menu">
        <!--<li class="ripple ripple-block"><a href=""><em class="ion-home icon-fw"></em>Profile</a></li>
        <li class="ripple ripple-block"><a href=""><em class="ion-gear-a icon-fw"></em>Settings</a></li>
        <li role="presentation" class="divider"></li>-->
        <li class="ripple ripple-block"><a href="/login.html"><em class="ion-log-out icon-fw"></em>Logout</a></li>
      </ul>
    </li>
    <li><a href="" ng-click="header.openModalBar()" class="ripple"><em class="ion-gear-b"></em></a></li>
  </ul>
</nav>