﻿<div class="content-heading bg-white ng-scope">
    <div class="row">
        <div class="col-sm-9">
            <h4 class="m0 text-thin">Odontología &amp; Estética</h4><small>Información del sistema</small>
        </div>
        
    </div>
</div>

<div class="container-fluid" ng-app="app.turnero" ng-controller="homeController">
    <div class="row">

        <div class="col-xs-6 col-lg-3">
            <div class="card">
                <div class="card-body pv">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="m0 text-thin">{{dashboard.cantidadDePacientes}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>
                            Pacientes activos</small>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg-3">
            <div class="card">
                <div class="card-body pv">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="m0 text-thin">{{dashboard.cantidadDeProfesionales}}</h4>
                                <small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>
                                    Profesionales activos
                                </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg-3">
            <div class="card">
                <div class="card-body pv">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="m0 text-thin">{{dashboard.cantidadDeTurnosPendientesDeConfirmacion}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>
                                Turnos pendientes de confirmación
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-6 col-lg-3">
            <div class="card">
                <div class="card-body pv">
                    <div class="clearfix">
                        <div class="pull-left">
                            <h4 class="m0 text-thin">{{dashboard.cantidadDeTurnosPendientesDeAtencion}}</h4><small class="m0 text-muted"><em class="mr-sm ion-arrow-up-b"></em>
                            Turnos confirmados futuros
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-heading">
                    <div class="card-title">Profesionales</div><small>Turnos por profesionales de hoy</small>
                </div>
                <div class="card-body">
                    <canvas id="chart-profesionales-estados" width="400" height="300"></canvas>
                </div>
            </div>
        </div>

        <div class="col-lg-6">
            <div class="card">
                <div class="card-heading">
                    <div class="card-title">Estados</div><small>Estados de los turnos de hoy</small>
                </div>
                <div class="card-body">
                    <canvas id="chart-estados" width="400" height="300"></canvas>
                </div>
            </div>
        </div>

    </div>
</div>
