
<div class="modal-body">
  <form action="">
    <div class="mda-form-group">
      <div class="mda-form-control">
        <input rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"/>
        <div class="mda-form-control-line"></div>
        <label>To:</label>
      </div>
    </div>
    <div class="mda-form-group">
      <div class="mda-form-control">
        <textarea rows="3" aria-multiline="true" tabindex="0" aria-invalid="false" class="form-control"></textarea>
        <div class="mda-form-control-line"></div>
        <label>Message</label>
      </div>
    </div>
    <button type="button" ng-click="mod.close()" class="btn btn-success">Send</button>
  </form>
</div>