﻿<div ng-app="app.turnero" ng-controller="calendarioTurnosController">
	<div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-sm-12">
                    <button type="button" class="mb-sm btn btn-success ripple" ng-click="onAgregarEvento()"><strong>+</strong> Agregar evento<span class="md-ripple"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div>
        <full-calendar get-events="getEvents" actions="actions"></full-calendar>
    </div>
</div>