﻿<div ng-app="app.turnero" ng-controller="buscarTurnosController">

    <div ng-show="ocultarFiltros">
        <h4>
            Turnos asociados a disponibilidad
        </h4>
    </div>

    <div class="card" ng-hide="ocultarFiltros">
        <div class="card-body">

            <div class="row">

                <div class="col-sm-6">

                    Consultorio
                   <select-consultorios dir-model="busqueda" multiple="true" allow-clear="true"></select-consultorios>
                </div>

                <div class="col-sm-6">

                    Profesional
                    <select-profesionales dir-model="busqueda" allow-clear="true" multiple="true"></select-profesionales>

                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-sm-6">
                    <date-range hoy="true" ng-model="busqueda.periodo"></date-range>
                </div>
                        
                <div class="col-sm-6">
                    Estado
                    <select-estados-de-turnos dir-model="busqueda" allow-clear="true" multiple="true"></select-estados-de-turnos>
                </div>

            </div>

            <br />
            <div class="row">

                <button type="button" class="mb-sm btn btn-primary ripple pull-right"
                        ng-click="onRefresh(true)">
                    <span data-pack="default" class="ion-loop"></span>
                    Actualizar
                </button>
                
                <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevoTurno()">
                    <span data-pack="default" class="ion-plus"></span>
                    Asignar turno a paciente
                </button>

                <a class="mb-sm btn btn-info ripple" ui-sref="app.calendario">
                    <span data-pack="default" class="ion-android-calendar"></span>
                    Calendario
                </a>

                <div class="checkbox c-checkbox pull-right" style="margin-right:15px">
                    <label>
                        <input type="checkbox" value="" 
                               ng-model="actualizarAuto" 
                               ng-click="onActualizarAuto()"><span class="ion-checkmark-round"></span> Actualización permanente
                    </label>
                </div>
            </div>

        </div>
    </div>


    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>

                        <th>Fecha</th>
                        <th>Horario</th>
                        <th>Duración</th>
                        <th>Profesional</th>
                        <th>Consultorio</th>
                        <th>Paciente</th>                     
                        <th></th>
                        <th>Estado</th>
                       
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="turno in turnos" class="{{obtenerColorDeFila(turno)}}">

                        <td>
                            {{turno.fechaHoraInicio   | date: 'dd/MM/yyyy'}}
                            <a href="javascript:void(0)" 
                               ng-click="verHistorial(turno)"
                               uib-tooltip="Ver historial">
                                <span data-pack="android" class="ion-android-menu color-red-500"></span>                                
                            </a>
                        </td>
                        <td>{{turno.horario}} hs</td>                        
                        <td>{{turno.minutos}} min</td>
                        <td>
                            <strong style="color:{{turno.profesional.color}}">{{turno.profesional.nombreCompleto}}</strong>
                            <br ng-if="turno.profesionalSecundario.color!=null"/>
                            <strong ng-if="turno.profesionalSecundario.color!=null" style="color:{{turno.profesionalSecundario.color}}">
                                {{turno.profesionalSecundario.nombreCompleto}}

                                <a href="javascript:void(0)" 
                                   uib-tooltip="Quitar segundo profesional"
                                   ng-click="eliminarProfesionalSecundario(turno)">
                                    <span data-pack="default" class="ion-close-circled color-red-400"></span>                                    
                                </a>
                            </strong>
                            
                        </td>
                        <td>{{turno.consultorio.nombre}}</td>
                        <td><strong>{{turno.paciente.nombreCompleto}}</strong></td>
                        
                        <td>
                            <div class="btn-group" uib-dropdown dropdown-append-to-body ng-show="turno.estado.id <= 3">
                                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                    Acciones <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                    <li role="menuitem" ng-show="turno.estado.id == 1 || turno.estado.id == 3">
                                        <a href="javascript:void(0)" ng-click="confirmarTurno(turno)">
                                            <span data-pack="default" class="ion-checkmark-round color-green-500"></span>
                                            CONFIRMAR TURNO
                                        </a>
                                    </li>

                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="onAsignarProfesionalSecundario(turno)">
                                            <span data-pack="default" class="ion-person-stalker color-green-500"></span>
                                            Asignar segundo profesional 
                                        </a>
                                    </li>

                                    <li class="divider"></li>
                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="confirmarAsistencia(turno)">
                                            <span data-pack="default" class="ion-checkmark-round color-green-500"></span>
                                            Confirmar asistencia
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="cancelar(turno, false)">
                                            <span data-pack="default" class="ion-android-warning  color-amber-500"></span>
                                            Cancela el consultorio
                                        </a>
                                    </li>
                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="cancelar(turno, true)">
                                            <span data-pack="default" class="ion-android-close color-red-600"></span>
                                            Cancela el paciente                                            
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="noAsiste(turno)">
                                            <span data-pack="default" class="ion-android-remove-circle color-red-600"></span>
                                            No asiste
                                        </a>
                                    </li>
                                    <li class="divider"></li>
                                    <li role="menuitem">
                                        <a href="javascript:void(0)" ng-click="reasignar(turno)">
                                            <span data-pack="default" class="ion-android-remove-circle color-yellow-700"></span>
                                            Reasignar
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>
                            {{turno.estado.descripcion}}
                            <a href="javascript:void(0)" 
                               ng-show="turno.idGoogleCalendarEvent == null || turno.idGoogleCalendarEvent == ''"
                               uib-tooltip="Crear en Google Calendar"
                               tooltip-placement ="left"
                               ng-click="crearEnGoogleCalendar(turno)">
                                <span data-pack="default" style="font-size: 20px;" class="ion-alert-circled color-red-400"></span>
                            </a>

                            <span data-pack="default" 
                                  ng-show="turno.idGoogleCalendarEvent != null && turno.idGoogleCalendarEvent != ''"
                                  uib-tooltip="Creado en Google Calendar"
                                  tooltip-placement ="left"
                                  style="font-size: 20px;"
                                  class="ion-android-calendar color-green-400"></span>
                            
                        </td>
                    </tr>

                </tbody>
            </table>


        </div>
    </div>

</div>
