﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">
   
    <div class="card-body">
        <div class="form-horizontal">
            
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.email">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.password">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nro de celular</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.nroCelular">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Rol</label>
                    <div class="col-sm-10">
                        <select name="account"
                                ng-model="usuario.idRol"
                                ng-options="item.id as item.nombre for item in roles"
                                class="form-control"></select>
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="usuario.activo"><span class="ion-checkmark-round"></span> Activo
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>