﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">
   
    <div class="card-body">
        <div class="form-horizontal">

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Profesionales</label>
                    <div class="col-sm-10" ng-if="!esEdicion">
                        <ui-select multiple
                                   ng-model="modelo.profesionalesSelected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="Seleccione profesionales">
                                {{$item.nombreCompleto}}
                            </ui-select-match>
                            <ui-select-choices repeat="profesional in profesionales | propsFilter: {nombreCompleto: $select.search}">
                                <div ng-bind-html="profesional.nombreCompleto | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                    <div class="col-sm-10" ng-if="esEdicion">
                        <ui-select ng-model="modelo.profesionalSelected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="Seleccione profesional">
                                {{$select.selected.nombreCompleto}}
                            </ui-select-match>
                            <ui-select-choices repeat="profesional in profesionales | propsFilter: {nombreCompleto: $select.search}">
                                <div ng-bind-html="profesional.nombreCompleto | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
               
            </fieldset>

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Consultorio</label>
                    <div class="col-sm-10">
                        <ui-select ng-model="modelo.consultorioSelected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="Seleccione consultorio">
                                {{$select.selected.nombre + ' - '+ $select.selected.direccion}}
                            </ui-select-match>
                            <ui-select-choices repeat="consultorio in consultorios | propsFilter: {nombre: $select.search, direccion: $select.search}">
                                <div ng-bind-html="consultorio.nombre | highlight: $select.search"></div>
                                <small>
                                    Dirección: <span ng-bind-html="''+consultorio.direccion | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>

            </fieldset>

            <fieldset ng-hide="esEdicion">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Configuración</label>
                    <div class="col-sm-5">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="modelo.esTodoElDia"><span class="ion-checkmark-round"></span> Todo el día
                            </label>
                        </div>

                    </div>

                    <div class="col-sm-5">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="modelo.esSerie"><span class="ion-checkmark-round"></span> Disponibilidad repeptitiva
                            </label>
                        </div>

                    </div>

                </div>

                <br />

                <div class="form-group" ng-show="modelo.esSerie">
                    <label class="col-sm-2 control-label">Días</label>

                    <div class="col-sm-3">

                        <seleccionar-dia-horario ng-model="modelo.diaLunes" dia="Lunes" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                                                                           
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaMartes" dia="Martes" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaMiercoles" dia="Miércoles" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaJueves" dia="Jueves" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaViernes" dia="Vienes" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaSabado" dia="Sábado" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>

                    <div class="col-sm-3">
                        <seleccionar-dia-horario ng-model="modelo.diaDomingo" dia="Domingo" ocultar-horario="modelo.esTodoElDia"></seleccionar-dia-horario>
                    </div>
                </div>

            </fieldset>
            
            <fieldset>

                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Desde</label>
                            <div class="col-sm-10">
                                <date-time-picker ng-model="modelo.fechaDesde" ng-change="onDesdeChange" hide-time="modelo.esTodoElDia || !esEdicion"></date-time-picker>
                            </div>
                        </div>
                    </div>
                    <div  class="col-sm-5">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Hasta</label>
                            <div class="col-sm-10">
                                <date-time-picker ng-model="modelo.fechaHasta" ng-change="onHastaChange" hide-time="modelo.esTodoElDia || !esEdicion"></date-time-picker>
                            </div>
                        </div>
                    </div>
                </div>

                <br />
              
            </fieldset>

            <fieldset ng-show="esReceso && !esEdicion">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Motivo de receso</label>
                    <div class="col-sm-10">

                        <ui-select ng-model="modelo.motivoRecesoSelected"
                                   theme="bootstrap">
                            <ui-select-match placeholder="Seleccione motivo">
                                {{$select.selected.textoValor}}
                            </ui-select-match>
                            <ui-select-choices repeat="motivo in motivosDeReceso | propsFilter: {textoValor: $select.search}">
                                <div ng-bind-html="motivo.textoValor | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>

                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Comentarios</label>
                    <div class="col-sm-10">
                        <textarea ng-model="modelo.comentarios" class="form-control"></textarea>
                    </div>
                </div>

            </fieldset>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-danger pull-left" type="button" ng-show="esEdicion" ng-click="onCancelarDisponibilidad()">Cancelar disponibilidad</button>
    <a class="btn btn-info pull-left" href="/#/app/turnos?idDisponibilidad={{idDisponibilidad}}" target="_blank" ng-show="esEdicion" >Ver turnos asociados</a>
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar disponbilidad</button>
    <button class="btn btn-warning" type="button" ng-click="onCancelar()">Cerrar</button>
</div>