﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">
   
    <div class="card-body">

        <uib-tabset active="activeJustified" justified="true">
            <uib-tab index="0" heading="Datos del profesional">

                <div class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Apellido</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.apellido">
                                <!--<span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>-->
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nombre</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.nombre">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Prefijo</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.prefijoProfesional">
                                <span class="help-block">Ejemplo: dr, dra</span>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Detalles</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.detalleDeProfesional">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="profesional.esPrimeraCita"><span class="ion-checkmark-round"></span> Primera cita
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="checkbox c-checkbox">
                                    <label>
                                        <input type="checkbox" value="" ng-model="profesional.activo"><span class="ion-checkmark-round"></span> Activo
                                    </label>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Email</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.email">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Contraseña</label>
                            <div class="col-sm-10">
                                <input type="password" class="form-control" ng-model="profesional.password">
                            </div>
                        </div>
                        <br />
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Nro celular</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" ng-model="profesional.nroCelular">
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">Color</label>
                            <div class="col-sm-10">
                                <button colorpicker=""
                                        type="button"
                                        colorpicker-position="top"
                                        colorpicker-parent="true"
                                        ng-model="profesional.color"
                                        style="background-color:{{profesional.color}}"
                                        class="btn btn-info">
                                    Cambiar color
                                </button>
                            </div>
                        </div>
                    </fieldset>

                </div>

            </uib-tab>
            <uib-tab index="1" heading="Especialidades">
                <div class="form-horizontal">

                    <fieldset>
                       
                        <br />

                        <div class="form-group">
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-10">
                                <div class="checkbox c-checkbox" ng-repeat="especialidad in especialidades">
                                    <label>
                                        <input type="checkbox" value="" ng-model="especialidad.selected">
                                        <span class="ion-checkmark-round"></span> {{especialidad.textoValor}}
                                    </label>
                                </div>
                            </div>
                        </div>
                        
                        <br />

                    </fieldset>

                </div>
            </uib-tab>
        </uib-tabset>

    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>

<link href="/vendor/angular-bootstrap-colorpicker/css/colorpicker.css" rel="stylesheet" />
<script src="/vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>