﻿<div ng-app="app.turnero" ng-controller="buscarProfesionalesController">
    <div>
        <div class="card">

            <div class="card-body">

                <div class="row" ng-enter="onBuscar()">

                    <div class="col-sm-4">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <input ng-model="busqueda.nombre" required="" tabindex="0" aria-required="true" aria-invalid="true"
                                       class="form-control" style="">
                                <div class="mda-form-control-line"></div>
                                <label>Nombre del profesional</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="checkbox c-checkbox" style="margin-top:25px">
                            <label>
                                <input type="checkbox" value="" ng-model="busqueda.activo"><span class="ion-checkmark-round"></span> Activos
                            </label>
                        </div>

                    </div>
                </div>

                <div class="row">

                    <button type="button" class="mb-sm btn btn-primary ripple"
                            ng-click="onBuscar()">
                        <span data-pack="default" class="ion-loop"></span>
                        Buscar
                    </button>

                    <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevo()">
                        <span data-pack="default" class="ion-plus"></span>
                        Nuevo profesional
                    </button>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre completo</th>
                            <th>Detalle</th>
                            <th>Activo</th>
                            <th>Primera cita</th>
                            <th>Especialidades</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in profesionales" ng-show="item.activo == busqueda.activo">
                            <td>{{item.nombreCompleto}}</td>
                            <td>{{item.detalleDeProfesional}}</td>
                            <td>{{item.activo?'Si':'No' }}</td>
                            <td>{{item.esPrimeraCita?'Si':'No' }}</td>
                            <td>
                                <ul class="list-unstyled">
                                    <li ng-repeat="esp in item.especialidades">{{esp.textoValor}}</li>
                                </ul>
                            </td>
                            <td>
                                <button type="button" class="btn btn-flat btn-warning ripple" ng-click="onEditar(item)">Ver<span class="md-ripple"></span></button>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>

        <div class="alert alert-info" ng-if="profesionales==null">{{'Realice una búsquda'}}</div>
        <div class="alert alert-warning" ng-if="profesionales.length==0">{{'No se han encontrado resultados'}}</div>

    </div>
</div>