﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Turnero online</title>
</head>
<body>
    <p>Estimado paciente  de <strong>{{nombreEmpresa}}</strong>:</p>
    <p>
        Por medio del presente, le notificamos que su turno ha sido <strong style="color:red">cancelado</strong>. 
        <br />- Fecha y hora: <strong>{{fechaTurno}} hs</strong>
        <br />- Paciente: <strong>{{paciente}} </strong>
        <br />- Lugar: <strong>{{consultorio}}</strong>
        <br />- Profesional: <strong>{{profesional}}</strong>.
    </p>
    <p>
        Atentamente, <strong>{{nombreEmpresa}}</strong>.        
    </p>

</body>
</html>