﻿<tr>
    <td class="em_grey" align="center" valign="top" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 26px; color:#434343;">

        <p>Estimado paciente  de <strong>{{nombreEmpresa}}</strong>:</p>
        <p>
            Para confirmar la creación de su cuenta, debe ingresar al siguiente link:<br />
        </p>
    </td>
</tr>
<tr>
    <td height="26" style="height:26px;" class="em_h20">&nbsp;</td>
</tr>
<tr>
    <td align="center" valign="top">
        <table width="250" style="width:250px; background-color:#6bafb2; border-radius:4px;" border="0" cellspacing="0" cellpadding="0" align="center">
            <tr>
                <td class="em_white" height="42" align="center"
                    valign="middle" style="font-family: Arial, sans-serif;
                                                    font-size: 16px; color:#ffffff; font-weight:bold; height:42px;">
                    <a href="{{linkParaConfirmar}}" target="_blank" style="text-decoration:none; color:#ffffff; line-height:42px; display:block;">
                        > Confirmar email aquí <
                    </a>
                </td>
            </tr>
        </table>
    </td>
</tr>

