﻿<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Turnero online</title>
</head>
<body>
    <p>Estimado colaborador:</p>
    <p>
        Hemos creado una cuenta para que pueda acceder al sistema como profesional de esta empresa.        
    </p>
    <p>
        Datos de acceso:
        <br />
        Email: {{emailProfesional}} <br />
        Contraseña: {{contraseñaProfesional}}
    </p>
    <p>
        Ingrese al sistema de turnos haciendo click <a href="{{urlSistema}}" target="_blank" >aquí</a>:
    </p>
    <p>
        Le sugerimos acceder con su cuenta de gmail para que el sistema pueda enviarle a su calendario la agenda de disponibilidades a cumplir.
    </p>
    <p>
        Atentamente, <strong>{{nombreEmpresa}}</strong>.
    </p>

</body>
</html>