﻿<div class="row">
    <div class="col-xs-6">
        Desde:
        <div class="ui-datepicker dp-head-success dp-table-success shadow-clear">
            <div class="input-group">
                <input type="text"  
                       uib-datepicker-popup="dd/MM/yyyy" 
                       ng-model="ngModel.desde" 
                       ng-click="popup1.opened=true" 
                       is-open="popup1.opened" 
                       datepicker-options ng-required="true"
                       ng-change="onDesdeChange()" 
                       close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="popup1.opened=true" class="btn btn-default"><em class="ion-calendar"></em></button>
                </span>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        Hasta:
        <div class="ui-datepicker dp-head-success dp-table-success shadow-clear">
            <div class="input-group">
                <input type="text" 
                       uib-datepicker-popup="dd/MM/yyyy"                        
                       ng-model="ngModel.hasta"  
                       ng-click="popup2.opened=true" 
                       is-open="popup2.opened" 
                       datepicker-options 
                       ng-required="true" 
                       close-text="Close" 
                       ng-change="onHastaChange()" 
                       class="form-control" /><span class="input-group-btn">
                    <button type="button" ng-click="popup2.opened=true" class="btn btn-default"><em class="ion-calendar"></em></button>
                </span>
            </div>
        </div>
    </div>
</div>