﻿<div class="card">

    <div class="card-body">

        <div class="row">

            <div class="col-sm-12">
                <div id="myCalendar"></div>
            </div>

        </div>

    </div>
</div>