﻿<div class="card" style="padding-left:20%; padding-bottom: 5px;">
    <div class="checkbox c-checkbox">
        <label>
            <input type="checkbox" value="" ng-model="ngModel.selected"><span class="ion-checkmark-round"></span> {{dia}}
        </label>
    </div>
    <div uib-timepicker ng-model="ngModel.horarioDesde" ng-show="ngModel.selected && !ocultarHorario" hour-step="1" minute-step="5" show-meridian="false"></div>
    <div uib-timepicker ng-model="ngModel.horarioHasta" ng-show="ngModel.selected && !ocultarHorario" hour-step="1" minute-step="5" show-meridian="false"></div>
</div>            