﻿
<div class="row">
    <div class="col-sm-9">
        <div class="ui-datepicker dp-head-success dp-table-success shadow-clear">
            <div class="input-group">
                <input type="text"
                       uib-datepicker-popup="dd/MM/yyyy"
                       ng-model="ngModel"
                       ng-click="popup1.opened=true"
                       is-open="popup1.opened"
                       ng-change="ngChange(ngModel)"
                       datepicker-options ng-required="true" close-text="Close" class="form-control" />
                <span class="input-group-btn">
                    <button type="button" ng-click="popup1.opened=true" class="btn btn-default"><em class="ion-calendar"></em></button>
                </span>

            </div>
        </div>
    </div>

</div>

<div class="row" ng-hide="hideTime">

    <div class="col-sm-9">
        <div uib-timepicker ng-model="ngModel" ng-change="ngChange(ngModel)" hour-step="1" minute-step="15" show-meridian="false"></div>
    </div>

</div>

