﻿<div ng-app="app.turnero" ng-controller="buscarUsuariosController">
    <div>
        <div class="card">

            <div class="card-body">

                <div class="row" ng-enter="onBuscar()">

                    <div class="col-sm-4">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <input ng-model="busqueda.nombre" required="" tabindex="0" type="email" aria-required="true" aria-invalid="true"
                                       class="form-control" style="">
                                <div class="mda-form-control-line"></div>
                                <label>Email del usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <select name="account"
                                        ng-model="busqueda.idRol"
                                        ng-options="item.id as item.nombre for item in roles"
                                        class="form-control"></select>
                                <label>Rol</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">

                        <div class="checkbox c-checkbox" style="margin-top:25px">
                            <label>
                                <input type="checkbox" value="" ng-model="busqueda.activo"><span class="ion-checkmark-round"></span> Activos
                            </label>
                        </div>
                       
                    </div>
                </div>

                <div class="row">

                    <div class="col-sm-5">
                        <button type="button" class="mb-sm btn btn-primary ripple"
                                ng-click="onBuscar()">
                            <span data-pack="default" class="ion-loop"></span>
                            Buscar
                        </button>

                        <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevo()">
                            <span data-pack="default" class="ion-plus"></span>
                            Nuevo usuario
                        </button>
                    </div>

                    

                </div>
            </div>
        </div>


        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Celular</th>
                            <th>Activo</th>
                            <th>Rol</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in usuarios" ng-show="item.activo==busqueda.activo">
                            <td>{{item.email}}</td>
                            <td>{{item.nroCelular}}</td>
                            <td>{{item.activo?'Si':'No' }}</td>
                            <td>{{item.rol.descripcion }}</td>
                            <td>
                                <button type="button" class="btn btn-flat btn-warning ripple" ng-click="onEditar(item)">Ver<span class="md-ripple"></span></button>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>

        <div class="alert alert-info" ng-if="profesionales==null">{{'Realice una búsquda'}}</div>
        <div class="alert alert-warning" ng-if="profesionales.length==0">{{'No se han encontrado resultados'}}</div>

    </div>
</div>