﻿<div class="modal-header">
    <h5 class="modal-title">Confirmar turno</h5>
</div>

<div class="modal-body">

    <div class="card-body">
        <div uib-alert ng-class="'alert-warning'" ng-show="esReasignacion">{{detallesTurnoReasignado}}</div>
        <div class="row">

            <div class="col-sm-6">

                <div class="mda-list mda-list-bordered" >

                    <div class="mda-list-item"  ng-show="!modeloConfirmacion.seleccionandoPaciente">
                        <div class="mda-list-item-icon bg-success"><em class="ion-android-contact icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>{{modeloConfirmacion.pacienteSeleccionado.nombreCompleto}}</h3>
                            <h4>DNI: {{modeloConfirmacion.pacienteSeleccionado.dni}}</h4>
                            <h4>Fecha de nacimiento: {{modeloConfirmacion.pacienteSeleccionado.fechaDeNacimiento | date:'dd/MM/yyyy'}}</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right">
                            <a href="javascript:void(0)" ng-click="onEditarPaciente()" ng-hide="esReasignacion" class="color-red-500"><em class="ion-edit icon-lg"></em></a>
                        </div>
                    </div>

                    <div class="mda-list-item">
                        <div class="mda-list-item-icon bg-info"><em class="ion-android-calendar icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h3>{{modeloConfirmacion.diaSeleccionado}} {{modeloConfirmacion.fechaHoraDesde | date:'dd/MM/yyyy HH:mm'}}</h3>
                            <h4>{{modeloConfirmacion.cantidadTurnos * 1}} minutos</h4>
                        </div>
                        <div class="mda-list-item-icon pull-right" ng-show="!modeloConfirmacion.seleccionandoPaciente && !esReasignacion">
                            <a href="javascript:void(0)" ng-click="onEditarPaciente()" class="color-red-500"><em class="ion-edit icon-lg"></em></a>
                        </div>
                    </div>

                    <div class="mda-list-item">
                        <div class="mda-list-item-icon btn-warning"><em class="ion-location icon-lg"></em></div>
                        <div class="mda-list-item-text mda-2-line">
                            <h4>Consultorio</h4>
                            <h3>{{modeloConfirmacion.consultorio.nombreConsultorio}}</h3>
                            <!--<h4>{{modeloConfirmacion.consultorio.direccion}}</h4>-->
                        </div>
                    </div>

                    <div class="mda-list-item">
                        <img src="app/img/user/01.jpg" alt="List user" class="mda-list-item-img">
                        <div class="mda-list-item-text">
                            <h4>Profesional</h4>
                            <h3>{{modeloConfirmacion.profesional.nombreProfesional}}</h3>
                        </div>
                    </div>
                </div>

            </div>

            <div class="col-sm-6" ng-show="!modeloConfirmacion.seleccionandoPaciente">
                <div class="card bg-cyan-500">

                    <div class="mda-list">

                        <div class="mda-list-item">

                            <div class="mda-list-item-icon"><em class="ion-social-whatsapp-outline icon-2x"></em></div>

                            <div class="mda-input-group input-group" ng-show="modeloConfirmacion.editandoCelular">
                                <div class="mda-form-control">
                                    <input type="text" ng-model="modeloConfirmacion.celular" class="form-control" />
                                    <div class="mda-form-control-line"></div>
                                </div><span class="mda-input-group-addon"><em class="ion-android-phone-portrait icon-lg"></em></span><span class="input-group-btn">
                                    <button type="button" ng-click="modeloConfirmacion.editandoCelular=false" class="btn btn-default btn-success btn-circle">
                                        <span data-pack="default" class="ion-checkmark"></span>
                                    </button>
                                </span>
                            </div>

                            <div class="mda-list-item-text mda-2-line" ng-show="!modeloConfirmacion.editandoCelular">
                                <h3>{{modeloConfirmacion.celular}}</h3>
                                <h4 class="text-muted">Celular</h4>
                            </div>
                            <div class="mda-list-item-icon pull-right" ng-show="!modeloConfirmacion.editandoCelular">
                                <a href="javascript:void(0)" class="color-yellow-500" ng-click="modeloConfirmacion.editandoCelular=true" ng-hide="esReasignacion"><em class="ion-edit icon-lg"></em></a>
                            </div>

                        </div>

                        <div class="mda-list-item">
                            
                            <div class="mda-list-item-icon"><em class="ion-at icon-2x"></em></div>

                            <div class="mda-input-group input-group" ng-show="modeloConfirmacion.editandoEmail">
                                <div class="mda-form-control">
                                    <input type="email" ng-model="modeloConfirmacion.email"  class="form-control" />
                                    <div class="mda-form-control-line"></div>
                                </div><span class="mda-input-group-addon"><em class="ion-email icon-lg"></em></span><span class="input-group-btn">
                                    <button type="button" ng-click="modeloConfirmacion.editandoEmail=false" class="btn btn-default btn-success btn-circle">
                                        <span data-pack="default" class="ion-checkmark"></span>
                                    </button>
                                </span>
                            </div>

                            <div class="mda-list-item-text mda-2-line"  ng-show="!modeloConfirmacion.editandoEmail">
                                <h3>{{modeloConfirmacion.email}}</h3>
                                <h4 class="text-muted">Email</h4>
                            </div>
                            <div class="mda-list-item-icon pull-right"  ng-show="!modeloConfirmacion.editandoEmail">
                                <a href="javascript:void(0)" class="color-yellow-500" ng-click="modeloConfirmacion.editandoEmail=true" ng-hide="esReasignacion"><em class="ion-edit icon-lg"></em></a>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="form-horizontal" ng-show="!esReasignacion">

                    <fieldset>
                       
                        <label class="control-label">Observaciones</label>
                        <div class="">
                            <textarea class="form-control" ng-model="modeloConfirmacion.comentarios" />
                        </div>
                    </fieldset>

                </div>

            </div>

        </div>
        
        <br />
        <br />
        
        <div class="row" ng-show="modeloConfirmacion.seleccionandoPaciente">
            <div class="col-sm-12">
                
                <div class="form-horizontal">
                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Seleccione un paciente</label>
                            <div class="col-sm-9">
                                <select-paciente dir-model="modeloConfirmacion.pacienteSeleccionado"></select-paciente>
                            </div>
                        </div>

                    </fieldset>

                    <fieldset>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">Duración en minutos</label>
                            <div class="col-sm-9">

                                <select name="account"
                                        ng-model="modeloConfirmacion.cantidadTurnos"
                                        ng-options="item for item in modeloConfirmacion.cantidadesDisponibles"
                                        class="form-control"></select>

                            </div>
                        </div>

                    </fieldset>


                </div>
               
                <div class="modal-footer">
                    <button class="btn btn-success" type="button" ng-click="onConfirmarPaciente()">Confirmar paciente y cantidad de minutos</button>
                    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
                </div>
            </div>
        </div>

    </div>

</div>
<div class="modal-footer" ng-show="!modeloConfirmacion.seleccionandoPaciente">
    <button class="btn btn-success" type="button" ng-click="onConfirmarTurno()">Confirmar turno</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>