﻿<div class="modal-header">
    <h5 class="modal-title">Seleccionar disponibilidad del turno</h5>
</div>
<div class="modal-body">

    <div class="card">
        <div class="card-body">

            <div uib-alert ng-class="'alert-warning'" ng-show="esReasignacion" >{{detallesTurnoReasignado}}</div>

            <div class="row">

                <div class="col-sm-6">

                    Consultorio
                    <select-consultorios dir-model="modelo" allow-clear="true"></select-consultorios>
                </div>

                <div class="col-sm-6">

                    Profesional
                    <select-profesionales dir-model="modelo" allow-clear="true" multiple="true"></select-profesionales>

                </div>

            </div>

            <br />

            <div class="row">

                <div class="col-sm-6">
                    <date-range hoy="true" ng-model="modelo.periodo"></date-range>
                </div>

                <div class="col-sm-6">

                    <div class="form-group">
                        
                        <div class="col-sm-3">
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaLunes"><span class="ion-checkmark-round"></span> Lun
                                </label>
                            </div>
                            
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaMartes"><span class="ion-checkmark-round"></span> Mar
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-3">

                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaMiercoles"><span class="ion-checkmark-round"></span> Mie
                                </label>
                            </div>
                           
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaJueves"><span class="ion-checkmark-round"></span> Jue
                                </label>
                            </div>
                            

                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaViernes"><span class="ion-checkmark-round"></span> Vie
                                </label>
                            </div>
                            
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaSabado"><span class="ion-checkmark-round"></span> Sab
                                </label>
                            </div>

                        </div>
                        <div class="col-sm-3">
                            <div class="checkbox c-checkbox">
                                <label ng-click="filtrarDisponibilidadPorDia()">
                                    <input type="checkbox" value="" ng-model="modelo.diaDomingo"><span class="ion-checkmark-round"></span> Dom
                                </label>
                            </div>
                        </div>
                    </div>

                </div>
                
            </div>

            <div class="row">
                <div class="col-sm-12">

                    <button type="button" class="mb-sm btn btn-primary ripple pull-left"
                            ng-click="onObtenerDisponibilidades()">
                        <span data-pack="default" class="ion-loop"></span>
                        Obtener disponibilidades
                    </button>

                    <button class="btn btn-danger pull-right" type="button" ng-click="onCancelar()">Cancelar</button>

                </div>
            </div>

        </div>
    </div>

    <div class="table-responsive" style="    max-height: 350px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Fecha</th>
                    <th>Día</th>
                    <th>Horario</th>
                    <th>Consultorio</th>
                    <th>Profesional</th>
                </tr>
            </thead>
            <tbody  ng-repeat="item in modelo.disponibilidades">
                <tr>
                    <td>
                        <button type="button" class="btn btn-flat btn-primary ripple"  ng-click="item.mostrarHorarios = !item.mostrarHorarios "><em class="{{item.mostrarHorarios? 'ion-ios-arrow-down':'ion-ios-arrow-right'}}"></em><span class="md-ripple"></span></button>
                    </td>
                    <td>{{item.fechaDesde | date:'dd/MM/yyyy'}}</td>
                    <td>{{item.fechaDesde | date:'EEE'}}</td>
                    <td>{{item.horario}} hs</td>
                    <td>{{item.nombreConsultorio}}</td>
                    <td>{{item.nombreProfesional}}</td>
                </tr>
                <tr ng-if="item.mostrarHorarios" >
                    <td colspan="6">

                        <div class="mda-list mda-list-bordered">

                            <div class="mda-list-item col-sm-3" ng-repeat="horario in item.turnosDisponibles">
                                <div class="mda-list-item-initial {{obtenerClaseSegunHorario(horario)}}">{{horario.incialParteDelDia}}</div>
                                <div class="mda-list-item-text mda-2-line">
                                    <button type="button" 
                                            ng-click ="seleccionarDisponibilidad(horario, item)" 
                                            class="btn btn-raised btn-success ripple" style="margin-left: -15px;">
                                        <em class="ion-ios-arrow-right"></em>
                                        {{horario.horario}} hs.
                                    </button>
                                </div>
                            </div>

                           
                        </div>
                    </td>
                                
                </tr>
            </tbody>
        </table>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>