﻿<div class="modal-header">
    <h5 class="modal-title">Seleccionar segundo profesional</h5>
</div>
<div class="modal-body">

    <div class="card">
        <div class="card-body">

            <div class="row">

                <div class="col-sm-12">

                    Profesional
                    <select-profesionales dir-model="profesional" allow-clear="true" multiple="false"></select-profesionales>

                </div>

            </div>
            
        </div>
    </div>

</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onConfirmar()">Confirmar</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>