﻿<div style="margin-left:10px; margin-right:10px">
    <h4>Turno</h4>

    <div class="card">
        <div class="card-heading">
            <div class="card-title">{{turno.profesional.nombreCompleto}}</div>
            <small>{{turno.profesionalSecundario.nombreCompleto}}</small>

            <div class="btn-group pull-right" uib-dropdown ng-show="turno.estado.id <= 3">
                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                    Acciones <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                    <li role="menuitem" ng-show="turno.estado.id == 1 || turno.estado.id == 3">
                        <a href="javascript:void(0)" ng-click="confirmarTurno(turno)">
                            <span data-pack="default" class="ion-checkmark-round color-green-500"></span>
                            CONFIRMAR TURNO
                        </a>
                    </li>

                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="onAsignarProfesionalSecundario(turno)">
                            <span data-pack="default" class="ion-person-stalker color-green-500"></span>
                            Asignar segundo profesional
                        </a>
                    </li>

                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="confirmarAsistencia(turno)">
                            <span data-pack="default" class="ion-checkmark-round color-green-500"></span>
                            Confirmar asistencia
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="cancelar(turno, false)">
                            <span data-pack="default" class="ion-android-warning  color-amber-500"></span>
                            Cancela el consultorio
                        </a>
                    </li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="cancelar(turno, true)">
                            <span data-pack="default" class="ion-android-close color-red-600"></span>
                            Cancela el paciente
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="noAsiste(turno)">
                            <span data-pack="default" class="ion-android-remove-circle color-red-600"></span>
                            No asiste
                        </a>
                    </li>
                    <li class="divider"></li>
                    <li role="menuitem">
                        <a href="javascript:void(0)" ng-click="reasignar(turno)">
                            <span data-pack="default" class="ion-android-remove-circle color-yellow-700"></span>
                            Reasignar
                        </a>
                    </li>
                </ul>
            </div>

        </div>
        <div class="card-body bb">
            <div class="oh">
                <p>
                   Paciente: <strong class="spr">{{turno.paciente.nombreCompleto}}</strong>
                </p>
                
                <div class="clearfix">
                    <div class="pull-left text-muted">
                        <em class="ion-android-time mr-sm"></em><span>{{turno.horario}} HS ({{turno.minutos}} minutos)</span>
                    </div>
                </div>
                <p class="bl pl"><i>{{turno.observaciones}}</i></p>
                <p class="bl pl" ng-repeat="item in turno.historial track by $index"><i>{{item}}</i></p>
            </div>
                     
        </div>        
    </div>

    <button type="button" class="mb-sm btn btn-success ripple" ng-click="agregarObservacion()">
        <span data-pack="default" class="ion-plus"></span>
        Agregar observaciones
    </button>
    
</div>