﻿<div ng-app="app.turnero" ng-controller="buscarPacientesController">
    <div>
        <div class="card">

            <div class="card-body" >

                <div class="row" ng-enter="onBuscar()" >

                    <div class="col-sm-4">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <input ng-model="busqueda.nombrePaciente"  required="" tabindex="0" aria-required="true" aria-invalid="true"
                                       class="form-control" style="">
                                <div class="mda-form-control-line"></div>
                                <label>Nombre del paciente</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <input ng-model="busqueda.dni" required=""  aria-required="true" aria-invalid="true"
                                       class="form-control" style="">
                                <div class="mda-form-control-line"></div>
                                <label>Nro de documento</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-3">
                        <div class="mda-form-group float-label">
                            <div class="mda-form-control">
                                <input ng-model="busqueda.nroFicha" required="" aria-required="true" aria-invalid="true"
                                       class="form-control" style="">
                                <div class="mda-form-control-line"></div>
                                <label>Nro de ficha</label>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-2">
                       
                    </div>

                </div>

                <div class="row">

                    <button type="button" class="mb-sm btn btn-primary ripple"
                            ng-click="onBuscar()">
                        <span data-pack="default" class="ion-loop"></span>
                        Search
                    </button>

                    <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevoPaciente()">
                        <span data-pack="default" class="ion-plus"></span>
                        Nuevo paciente
                    </button>
                </div>
            </div>
        </div>


        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Nombre completo</th>                           
                            <th>Fecha de nacimiento</th>
                            <th>Estado</th>
                            <th>Ficha</th>
                            <th>Usuario</th>
                            <th>Tutor</th>
                            <th>Profesional</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="paciente in pacientes">
                           
                            <td>{{paciente.dni}}</td>
                            <td>{{paciente.nombreCompleto}}</td>
                            <td>{{paciente.fechaDeNacimiento   | date: 'dd/MM/yyyy'}}</td>
                            <td>{{paciente.estado.descripcion}}</td>
                            <td>{{paciente.nroFicha}}</td>
                            <td>
                                {{paciente.usuario.email}}
                                <span if="paciente.usuario.nroCelular!=null">
                                    <br />
                                    Cel: {{paciente.celular}} / {{paciente.usuario.nroCelular}}
                                </span>
                            </td>
                            <td>{{paciente.esPacienteUsuario?'No':'Si'}}</td>
                            <td>{{paciente.profesional.nombreCompleto}}</td>
                            <td>
                                <button type="button" class="btn btn-flat btn-warning ripple" ng-click="onEditar(paciente)">Ver<span class="md-ripple"></span></button>
                            </td>
                        </tr>

                    </tbody>
                </table>

               
            </div>
        </div>

        <div class="alert alert-info" ng-if="pacientes==null">{{'Realice una búsquda'}}</div>
        <div class="alert alert-warning" ng-if="pacientes.length==0">{{'No se han encontrado resultados'}}</div>

    </div>
</div>