﻿

<div class="container-fluid" ng-app="app.turnero" ng-controller="buscarPacientesController">
    <div class="card">
        <div class="card-body row">
            <div ng-repeat="paciente in pacientes">
                <div class="col-lg-4 col-xs-12">
                    <div class="card shadow-z2">
                        <div class="card-heading bg-orange-800">
                            <!-- START dropdown-->
                            <div uib-dropdown="dropdown2" class="pull-right dropdown" style="">
                                <button type="button" uib-dropdown-toggle="" class="btn btn-flat btn-flat-icon dropdown-toggle" aria-haspopup="true" aria-expanded="false"><em class="ion-android-more-vertical"></em></button>
                                <ul role="menu" class="dropdown-menu md-dropdown-menu dropdown-menu-right">
                                    <li><a href="">Ver</a></li>
                                    <li><a href="">Editar</a></li>
                                    <li><a href="">Borrar</a></li>
                                </ul>
                            </div>
                            <!-- END dropdown-->

                            <div class="card-title">
                                <img src="app/img/user/01.jpg" class="img-circle thumb32"></i>&nbsp; {{paciente.nombreCompleto}}
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <p><i class="ion-image text-muted" style="vertical-align: middle;"></i>&nbsp; {{paciente.dni}}</p>
                                </div>
                                <div class="col-lg-6 ">
                                    <p><i class="ion-android-calendar text-muted" style="vertical-align: middle;"></i>&nbsp; {{paciente.fechaDeNacimiento   | date: 'dd/MM/yyyy'}}</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6 ">
                                    <p>
                                        <i class="ion-ios-medkit text-muted" style="vertical-align: middle;"></i>&nbsp; {{paciente.obraSocial}}
                                    </p>
                                </div>
                                <div class="col-lg-6 ">
                                    <p><i class="ion-ios-medkit text-muted" style="vertical-align: middle;"></i>&nbsp; Plan: {{paciente.plan}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="card-footer text-right">
                            <button type="button" class="btn btn-flat btn-warning ripple" ng-click="onEditar(paciente)">Ver<span class="md-ripple"></span></button>
                            <button type="button" class="btn btn-raised btn-default ripple"><i class="ion-edit icon-2x" ng-click="onEditar(paciente)"></i></button>
                            <button type="button" class="btn btn-raised btn-default ripple"><i class="ion-trash-b icon-2x"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="card shadow-z2">
                    <div class="card-heading bg-orange-800">
                        <div class="card-title">
                            <i class="ion-ios-personadd-outline" style="vertical-align: middle;"></i>&nbsp; Agregar Paciente
                        </div>
                    </div>
                    <div class="card-offset">
                        <div class="card-offset-item text-right">
                            <button type="button" class="btn-raised btn btn-info btn-circle btn-lg " ng-click="onNuevoPaciente()"><em class="ion-android-add"></em></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
