﻿<div ng-app="app.turnero" ng-controller="buscarDisponibilidadesController">
    <div class="card">

        <div class="card-body">

            <div class="row">

                <div class="col-sm-8">
                    Profesionales
                    <ui-select multiple 
                               ng-model="busqueda.profesionalesSelected" 
                               theme="bootstrap">
                        <ui-select-match placeholder="Seleccione profesionales" allow-clear="true">
                            {{$item.nombreCompleto}}
                        </ui-select-match>
                        <ui-select-choices repeat="profesional in profesionales | propsFilter: {nombreCompleto: $select.search}">
                            <div ng-bind-html="profesional.nombreCompleto | highlight: $select.search"></div>                            
                        </ui-select-choices>
                    </ui-select>
                    
                </div>
                
                <div class="col-sm-4">
                    Estado
                    <ui-select ng-model="busqueda.estadoSelected"
                               theme="bootstrap">
                        <ui-select-match placeholder="Seleccione estados">
                            {{$select.selected.descripcion}}
                        </ui-select-match>
                        <ui-select-choices repeat="estado in estados | propsFilter: {descripcion: $select.search}">
                            <div ng-bind-html="estado.descripcion | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>

                </div>

            </div>

            <br />

            <div class="row">
                
                <div class="col-sm-6">
                    Consultorio
                    <ui-select ng-model="busqueda.consultorioSelected"
                               theme="bootstrap">
                        <ui-select-match placeholder="Seleccione consultorio" allow-clear="true">
                            {{$select.selected.nombre + ' - '+ $select.selected.direccion}}
                        </ui-select-match>
                        <ui-select-choices repeat="consultorio in consultorios | propsFilter: {nombre: $select.search, direccion: $select.search}">
                            <div ng-bind-html="consultorio.nombre | highlight: $select.search"></div>
                            <small>
                                Dirección: <span ng-bind-html="''+consultorio.direccion | highlight: $select.search"></span>
                            </small>
                        </ui-select-choices>
                    </ui-select>

                </div>

            </div>

            <br />
            <div class="row">

                <button type="button" class="mb-sm btn btn-primary ripple pull-right"
                        ng-click="onRefreshCalendarClick()">
                    <span data-pack="default" class="ion-loop"></span>
                    Actualizar
                </button>

                <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevaDisponibilidad()">
                    <span data-pack="default" class="ion-plus"></span>
                    Crear disponibilidad
                </button>

                <button type="button" class="mb-sm btn btn-warning ripple" ng-click="onCrearReceso()">
                    <span data-pack="default" class="ion-plus"></span>
                    Crear receso
                </button>
            </div>

        </div>
    </div>
    
    <uib-tabset>
        <uib-tab index="0" heading="Calendario">
            <full-calendar get-events="getEvents" actions="actions"></full-calendar>
        </uib-tab>
        <uib-tab index="1" heading="Lista">

            <div class="card">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Fecha</th>
                                <th>Día</th>
                                <th>Horario</th>
                                <th>Tipo</th>
                                <th>Profesional</th>
                                <th>Consultorio</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat-start="item in disponibilidades" class="{{obtenerColorDeFila(item)}}">
                                <td></td>
                                <td>{{item.fechaHoraInicio | date:'dd/MM/yyyy'}}</td>
                                <td>{{item.fechaHoraInicio | date:'EEE'}}</td>
                                <td>{{item.fechaHoraInicio | date:'HH:mm'}} - {{item.fechaHoraFin | date:'HH:mm'}}</td>
                                <td>{{item.esReceso?'Receso':'Disponibilidad'}}</td>
                                <td>{{item.profesional.nombreCompleto}}</td>
                                <td>{{item.consultorio.nombre}}</td>
                                <td>{{item.estado.descripcion}}</td>
                                <td>
                                    <div class="btn-group" uib-dropdown dropdown-append-to-body>
                                        <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                            Acciones <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                            <li role="menuitem">
                                                <a href="javascript:void(0)" ng-click="onEditar(item)">
                                                    <span data-pack="default" class="ion-android-warning  color-amber-500"></span>
                                                    Editar
                                                </a>
                                            </li>
                                            <li class="divider"></li>
                                            <li role="menuitem">
                                                <a href="javascript:void(0)" ng-click="cancelar(item)">
                                                    <span data-pack="default" class="ion-android-close color-red-600"></span>
                                                    Cancelar
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr ng-show="false" ng-repeat-end>
                                <td>1</td>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                                <td>@mdo</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </uib-tab>
    </uib-tabset>

    

</div>
