﻿<div class="modal-header">
    <h5 class="modal-title">{{titulo}}</h5>
</div>
<div class="modal-body">
   
    <div class="card-body">
        <div class="form-horizontal">
            
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Nombre</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="obraSocial.nombre">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Código</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="obraSocial.codigo">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label"></label>
                    <div class="col-sm-10">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="obraSocial.activo"><span class="ion-checkmark-round"></span> Activo
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>Cod</th>
                                        <th>Activo</th>
                                        <td>
                                            <button type="button" class="btn btn-flat btn-success ripple" ng-click="nuevoPlan()">Agregar plan
                                                <span class="md-ripple"></span>
                                            </button>
                                        </td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-if="planEdicion != null">
                                        <td>
                                            <input type="text" class="form-control" ng-model="planEdicion.nombre">
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="planEdicion.codigo">
                                        </td>
                                        <td>
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" value="" ng-model="planEdicion.activo"><span class="ion-checkmark-round"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-flat btn-success ripple" ng-click="guardarPlan()">
                                                Guardar
                                                <span class="md-ripple"></span>
                                            </button>
                                            <button type="button" class="btn btn-flat btn-danger ripple" ng-click="cancelarEdicionPlan()">
                                                Cancelar
                                                <span class="md-ripple"></span>
                                            </button>
                                        </td>
                                    </tr>
                                    <tr ng-repeat="item in obraSocial.planes">
                                        <td>{{item.nombre}}</td>
                                        <td>{{item.codigo}}</td>
                                        <td>{{item.activo?'Si':'No' }}</td>
                                        <td>
                                            <button type="button" class="btn btn-flat btn-warning ripple" ng-click="editarPlan(item)">Editar<span class="md-ripple"></span></button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>


                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>

</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onGuardar()">Guardar</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>