﻿<!-- Page content-->
<section>
    <div class="container container-md" ng-app="app.turnero" ng-controller="solicitarTurnoPacienteController">
        <div class="panel panel-default">
            <div class="panel-heading">Nuevo Turno</div>
            <div class="panel-body">
                <div class="wizard clearfix" role="application">

                    <div class="steps clearfix">
                        <ul role="tablist">
                            <li role="tab" ng-class="(contexto.pasoActual == 1) ? 'first current' : 'disabled first'">
                                <a> Paso <span class="number">1</span> </a>
                            </li>
                            <li role="tab" ng-class="(contexto.pasoActual == 2) ? 'current' : 'disabled'">
                                <a> Paso <span class="number">2</span> </a>
                            </li>
                            <li role="tab" ng-class="(contexto.pasoActual == 3) ? 'current' : 'disabled'">
                                <a> Paso <span class="number">3</span> </a>
                            </li>
                            <li role="tab" ng-class="(contexto.pasoActual == 4) ? 'last current' : 'disabled last'"> 
                                <a> Paso <span class="number">4</span> </a>
                            </li>
                        </ul>
                    </div>

                    <div class="content clearfix">
                        <div ng-switch="contexto.pasoActual">
                            <div ng-switch-when="1">
                                <seleccion-paso-uno-nuevo-turno contexto="contexto"></seleccion-paso-uno-nuevo-turno>
                            </div>
                            <div ng-switch-when="2">
                                <seleccion-paso-dos-nuevo-turno contexto="contexto"></seleccion-paso-dos-nuevo-turno>
                            </div>
                            <div ng-switch-when="3">
                                <seleccion-paso-tres-nuevo-turno contexto="contexto"></seleccion-paso-tres-nuevo-turno>
                            </div>
                            <div ng-switch-when="4">
                                <confirmacion-paso-cuatro-nuevo-turno contexto="contexto"></confirmacion-paso-cuatro-nuevo-turno>
                            </div>
                        </div>
                    </div>

                    <div class="actions clearfix">
                        <ul role="menu">
                            <li ng-if="(contexto.pasoActual != 1)">
                                <a role="menuitem" ng-click="onAnterior()">Anterior</a>
                            </li>
                            <li ng-if="(contexto.pasoActual != 4)">
                                <a role="menuitem" ng-click="onSiguiente()">Siguiente</a>
                            </li>
                            <li ng-if="(contexto.pasoActual == 4)">
                                <a role="menuitem" ng-click="onConfirmar()">Confirmar</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

