﻿
<div class="container-fluid " ng-app="app.turnero" ng-controller="buscarTurnosController">
    <div class="card">
        <div class="card-body">

            <div class="row">
                <button type="button" class="mb-sm btn btn-primary ripple"
                        ng-click="onBuscarTurnoPaciente()">
                    <span data-pack="default" class="ion-loop"></span> Buscar
                </button>

                <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevoTurnoPaciente()">
                    <span data-pack="default" class="ion-plus"></span> Nuevo Turno
                </button>
            </div>

            <div class="row">
                <uib-tabset active="activeJustified" justified="true">
                    <uib-tab index="0" heading="Próximos">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th>Profesional</th>
                                        <th>Consultorio</th>
                                        <th>Especialidad</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="turno in turnosProximos" class="{{obtenerColorDeFila(turno)}}">
                                        <td>
                                            {{turno.fechaHoraInicio   | date: 'dd/MM/yyyy'}}
                                            <a href="javascript:void(0)"
                                               ng-click="verHistorial(turno)"
                                               uib-tooltip="Ver historial">
                                                <span data-pack="android" class="ion-android-menu color-red-500"></span>
                                            </a>
                                        </td>
                                        <td><strong>{{turno.paciente.nombreCompleto}}</strong></td>
                                        <td>
                                            <strong style="color:{{turno.profesional.color}}">{{turno.profesional.nombreCompleto}}</strong>
                                            <br ng-if="turno.profesionalSecundario.color!=null" />
                                            <strong ng-if="turno.profesionalSecundario.color!=null" style="color:{{turno.profesionalSecundario.color}}">
                                                {{turno.profesionalSecundario.nombreCompleto}}

                                                <a href="javascript:void(0)"
                                                   uib-tooltip="Quitar segundo profesional"
                                                   ng-click="eliminarProfesionalSecundario(turno)">
                                                    <span data-pack="default" class="ion-close-circled color-red-400"></span>
                                                </a>
                                            </strong>
                                        </td>
                                        <td>{{turno.consultorio.nombre}}</td>
                                        <td>{{turno.especialidad}}</td>
                                        <td>
                                            {{turno.estado.descripcion}}
                                            <a href="javascript:void(0)"
                                               ng-show="turno.idGoogleCalendarEvent == null || turno.idGoogleCalendarEvent == ''"
                                               uib-tooltip="Crear en Google Calendar"
                                               tooltip-placement="left"
                                               ng-click="crearEnGoogleCalendar(turno)">
                                                <span data-pack="default" style="font-size: 20px;" class="ion-alert-circled color-red-400"></span>
                                            </a>

                                            <span data-pack="default"
                                                  ng-show="turno.idGoogleCalendarEvent != null && turno.idGoogleCalendarEvent != ''"
                                                  uib-tooltip="Creado en Google Calendar"
                                                  tooltip-placement="left"
                                                  style="font-size: 20px;"
                                                  class="ion-android-calendar color-green-400"></span>

                                        </td>
                                        <td>
                                            <div class="btn-group" uib-dropdown dropdown-append-to-body ng-show="turno.estado.id <= 3">
                                                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                                    Acciones <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body"> 
                                                    <li role="menuitem">
                                                        <a href="javascript:void(0)" ng-click="cancelar(turno, true)">
                                                            <span data-pack="default" class="ion-android-close color-red-600"></span>
                                                            Cancela el paciente
                                                        </a>
                                                    </li>                                                   
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                        </div>

                    </uib-tab>
                    <uib-tab index="1" heading="Anteriores">

                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Paciente</th>
                                        <th>Profesional</th>
                                        <th>Consultorio</th>
                                        <th>Especialidad</th>
                                        <th>Estado</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="turno in turnosAnteriores" class="{{obtenerColorDeFila(turno)}}">
                                        <td>
                                            {{turno.fechaHoraInicio   | date: 'dd/MM/yyyy'}}
                                            <a href="javascript:void(0)"
                                               ng-click="verHistorial(turno)"
                                               uib-tooltip="Ver historial">
                                                <span data-pack="android" class="ion-android-menu color-red-500"></span>
                                            </a>
                                        </td>
                                        <td><strong>{{turno.paciente.nombreCompleto}}</strong></td>
                                        <td>
                                            <strong style="color:{{turno.profesional.color}}">{{turno.profesional.nombreCompleto}}</strong>
                                            <br ng-if="turno.profesionalSecundario.color!=null" />
                                            <strong ng-if="turno.profesionalSecundario.color!=null" style="color:{{turno.profesionalSecundario.color}}">
                                                {{turno.profesionalSecundario.nombreCompleto}}

                                                <a href="javascript:void(0)"
                                                   uib-tooltip="Quitar segundo profesional"
                                                   ng-click="eliminarProfesionalSecundario(turno)">
                                                    <span data-pack="default" class="ion-close-circled color-red-400"></span>
                                                </a>
                                            </strong>
                                        </td>
                                        <td>{{turno.consultorio.nombre}}</td>
                                        <td>{{turno.especialidad}}</td>
                                        <td>
                                            {{turno.estado.descripcion}}
                                            <a href="javascript:void(0)"
                                               ng-show="turno.idGoogleCalendarEvent == null || turno.idGoogleCalendarEvent == ''"
                                               uib-tooltip="Crear en Google Calendar"
                                               tooltip-placement="left"
                                               ng-click="crearEnGoogleCalendar(turno)">
                                                <span data-pack="default" style="font-size: 20px;" class="ion-alert-circled color-red-400"></span>
                                            </a>

                                            <span data-pack="default"
                                                  ng-show="turno.idGoogleCalendarEvent != null && turno.idGoogleCalendarEvent != ''"
                                                  uib-tooltip="Creado en Google Calendar"
                                                  tooltip-placement="left"
                                                  style="font-size: 20px;"
                                                  class="ion-android-calendar color-green-400"></span>

                                        </td>
                                        <td>
                                            <div class="btn-group" uib-dropdown dropdown-append-to-body ng-show="turno.estado.id <= 3">
                                                <button id="btn-append-to-body" type="button" class="btn btn-warning" uib-dropdown-toggle>
                                                    Acciones <span class="caret"></span>
                                                </button>
                                                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                                                    <li role="menuitem">
                                                        <a href="javascript:void(0)" ng-click="cancelar(turno, true)">
                                                            <span data-pack="default" class="ion-android-close color-red-600"></span>
                                                            Cancela el paciente
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </td>

                                    </tr>

                                </tbody>
                            </table>


                        </div>

                    </uib-tab>
                </uib-tabset>

            </div>

        </div>
    </div>
</div>
