﻿<div ng-app="app.turnero" ng-controller="buscarObrasSocialesController">
    <div>
        <div class="card">
            <div class="card-body">

                <div class="row">                    
                   <div class="col-sm-3">
                        <div class="checkbox c-checkbox">
                            <label>
                                <input type="checkbox" value="" ng-model="busqueda.soloActivos"><span class="ion-checkmark-round"></span> Solo activas
                            </label>
                        </div>
                    </div>
                   <div class="col-sm-9">
                       <button type="button" class="mb-sm btn btn-primary ripple"
                               ng-click="onBuscar()">
                           <span data-pack="default" class="ion-loop"></span>
                           Buscar
                       </button>

                       <button type="button" class="mb-sm btn btn-success ripple" ng-click="onNuevo()">
                           <span data-pack="default" class="ion-plus"></span>
                           Nueva obra social
                       </button>
                   </div>
                </div>
            </div>
        </div>
        
        <div class="card">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cod</th>
                            <th>Activo</th>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in obrasSociales">
                            <td>{{item.nombre}}</td>
                            <td>{{item.codigo}}</td>
                            <td>{{item.activo?'Si':'No' }}</td>
                            <td>
                                <button type="button" class="btn btn-flat btn-warning ripple" ng-click="onEditar(item)">Ver<span class="md-ripple"></span></button>
                            </td>
                        </tr>

                    </tbody>
                </table>


            </div>
        </div>

        <div class="alert alert-info" ng-if="obrasSociales==null">{{'Realice una búsquda'}}</div>
        <div class="alert alert-warning" ng-if="obrasSociales.length==0">{{'No se han encontrado resultados'}}</div>

    </div>
</div>