﻿<div class="modal-header">
    <h5 class="modal-title">Registro de usuario</h5>
</div>
<div class="modal-body">
       
    <div class="card-body">
        <div class="form-horizontal">

            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" ng-model="usuario.email">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Celular</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="usuario.phone">
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Contraseña</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.password">
                    </div>
                </div>
                <br />
                <div class="form-group">
                    <label class="col-sm-2 control-label">Repetir</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" ng-model="usuario.passwordRepeticion">
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    
</div>
<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="onConfirmar()">Crear usuario</button>
    <button class="btn btn-danger" type="button" ng-click="onCancelar()">Cancelar</button>
</div>